@model IEnumerable<Products.Models.Product>

@{
    ViewBag.Title = "Product List";
}

<h4>Product List</h4>

<p> 
    @Html.ActionLink("Add New Product", "AddProduct")
</p>
@if (Model != null)
{
<table class="table">
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.ActionLink("Update", "UpdateProduct", new { id = item.ProductID }) |
                @Html.ActionLink("Details", "DetailsProduct", new { id = item.ProductID })|
                @Html.ActionLink("Delete", "DeleteProduct", new { id = item.ProductID })
            </td>
        </tr>
    }

</table>

}
else
{
    <h3>No records where found</h3>
}
    <form class="form-inline" method="post" action="Product/Search">

        <input type="text" name="SearchText" class="form-control" placeholder="Product Name" />
        <span>Search Category :</span>
        <select name="ProductCategoryId" class="form-control">
            <option value="">Select</option>
            <option value="1">Fruits</option>
            <option value="2">Vegitable</option>
            <option value="3">Clothes</option>
            <option value="4">Dairy Products</option>
        </select>
        <span>Price Form :</span>
        <input type="number" name="MinRange" class="form-control" />
        <span> To </span>
        <input type="number" name="MaxRange" class="form-control" />
        <input type="submit" class="btn btn-primary" />
    </form>